.about-product
    @include container--content
    font-size: 1.8rem
    color: $text
    @include media ("<phone")
        font-size: 1.4rem
    
    
    &__title
        @include gbackground(100%)
        display: inline-block
        color: $white
        text-transform: uppercase
        font-size: 7.2rem
        font-weight: 900
        padding: 0px 20px
        @include media ("<tablet")
            font-size: 3.0rem
            padding: 10px 15px
            

    // start of 1st row of products
    &__products-1
        display: flex
        width: 100%
        justify-content: space-around
        margin-bottom: 20px
        flex-wrap: wrap
        // font-size: 1.8rem
        // color: $text
        @include media ("<tablet")
            flex-flow: column
            align-items: center
        // @include media ("<phone")
        //     font-size: 1.4rem
        
    &__swiper-container

    &__swiper-wrapper

    &__swiper-slide

    &__img-slide-1
        width: min-content
        // Do I have to put specific height and width of img?

    &__img-slide-2
        width: min-content
        // Do I have to put specific height and width of img?

    &__swiper-text
        // color: $text
        text-align: center 
        margin: 40px 0

    &__swiper-pagination

    .swiper-container // not &__swiper-container ?
        width: 100%
        margin-top: 60px
        @include media (">=tablet")
            display: none
        
        .swiper-wrapper

        .swiper-slide // not &__swiper-slide ?
            display: flex
            flex-direction: column
            align-items: center
            padding: 20px
            width: 100%

        .swiper-pagination
            top: 370px
        
        .swiper-pagination-bullet
            width: 30%
            height: 1px
            margin: 0 5%
            background-color: $text
            border-radius: unset
        .swiper-pagination-bullet::after
            content: " "
            padding: 10%
            display: block
            position: relative
            bottom: 13px

        .swiper-pagination-bullet-active
            @include gbackground(100%)
          
    &__gum
        &-wrapper
            display: flex
            width: min-content
            @include media ("<tablet")
                order: 2
                flex-flow: column
                width: 100%
                width: fit-content
                align-items: center
                margin-bottom: 60px
        &-img
            width: 165px
            height: 354px
            margin-right: -15px
            margin-left: -40px
            @include media ("<tablet")
                margin: 0
            @include media ("<phone")
                width: 125px
                height: 268px
        &-arrow-caption-wrapper
            // font-size: 1.8rem
            // color: $text
            @include media ("<tablet")
                margin-top: -40px
                text-align: center // here or on span?
        &-caption
            display: inline-block
            width: min-content
            margin-top: 45px
            margin-left: 70px
            padding: 10px 0
            @include media ("<tablet")
                margin: 0
                width: 100%
        &-arrow
            @include media ("<tablet")
                display: none


    &__che
        &-wrapper
            align-self: baseline
            // padding-top: 55px
            display: flex
            width: min-content
            margin-top: 65px
            // margin: 0 -50px
            @include media ("<large")
                order: 1;
                margin-top: -105px
            @include media ("<tablet")
                // margin-top: 65px
                display: none          
        &-arrow-caption-1
            // font-size: 1.8rem
            // color: $text
            margin-top: 25px
        &-arrow-1
            // margin-left: 55px
        &-caption-1
            display: inline-block
            width: 130px
            text-align: right
            margin-left: -50px
        &-img
            width: 248px
            height: 360px
            z-index: -1
            margin-left: -95px
        &-arrow-caption-2
            // font-size: 1.8rem
            // color: $text
            margin-top: 130px
        &-caption-2
            display: inline-block
            width: 150px
        &-arrow-2
            margin-left: -20px    

    &__sticker
        &-wrapper
            align-self: center
            display: flex
            width: min-content
            @include media ("<tablet")
                order: 3
                flex-flow: column
                // width: 100%
                width: min-content
                align-items: center
                margin-bottom: 60px
        &-arrow-caption-wrapper
            // font-size: 1.8rem
            // color: $text
            margin-top: -85px //-55px
            margin-right: 10px
            @include media ("<tablet")
                order: 2
                margin: 0
        &-caption
            display: inline-block
            width: 135px
            text-align: right
            margin-left: -70px
            margin-bottom: 10px
            @include media ("<large")
                margin-left: 0
                width: 100%
            @include media ("<tablet")
                text-align: center // here or on wrapper?
        &-arrow
            @include media ("<large")
                margin-left: 70px
            @include media ("<tablet")
                display: none
        &-circle
            height: 170px
            width: 170px
            border-radius: 50%
            background-color: $white
            box-shadow: 0 9px 20px #CCC
            display: flex
            flex-basis: 100%
            flex-wrap: wrap
            align-content: center
            justify-content: center
            text-align: center
            padding: 10px
            @include media ("<tablet")
                order: 1
                margin-bottom: 35px
                flex-basis: auto
        &-phrase
            display: inline-block
            width: min-content
            color: #000
            font-size: 0.8rem
        &-link
            display: inline-block
            color: #000
            font-size: 1.1rem
            margin: 15px 0 30px
        &-arobomb
            font-weight: 600
        &-words-wrapper
            width: min-content
            font-size: 0.8rem
            color: $white
            span
                background-color: #000
                padding: 1px 2px 2px 3px

    //start of 2nd row of products
    &__products-2
        display: flex
        // align-items: baseline
        justify-content: space-between
        // margin-right: 90px
        flex-wrap: wrap
        // font-size: 1.8rem
        // color: $text
        @include media ("<large")
            justify-content: space-around
        @include media ("<tablet")
            flex-flow: column
            align-items: center
        // @include media ("<phone")       
        //     font-size: 1.4rem

    &__box
        &-wrapper
            display: flex
            flex-wrap: wrap
            width: min-content
            @include media ("<tablet")
                width: min-content // here or on div of row?
                flex-flow: column
                align-items: center
                margin-bottom: 60px
        &-arrow
            margin-left: 70px
            @include media ("<tablet")
                display: none
        &-caption-img-wrapper
            display: flex
            @include media ("<tablet")
                flex-flow: column
                align-items: center
        &-caption-wrapper
            width: 130px
            margin-right: 50px
            @include media ("<tablet")
                order: 2
                margin: 0
                width: 100%
                text-align: center // here or on span?
        &-caption
            display: inline-block
            // font-size: 1.8rem
            // color: $text
        &-img
            width: 341px
            height: 141px
            margin-top: -10px
            @include media ("<tablet")
                order: 1
                margin-bottom: 5px
            @include media ("<phone")
                width: 266px
                height: 110px

    &__clips
        &-wrapper
            display: flex
            align-items: center
            width: min-content
            @include media ("<tablet")
                flex-flow: column
                margin-bottom: 60px
        &-img
            width: 191px
            height: 171px
            @include media ("<tablet")
                margin-bottom: 25px
        &-arrow-caption-wrapper
            display: flex
            flex-wrap: wrap
            justify-content: flex-end
            width: min-content
            @include media ("<tablet")
                width: fit-content
        &-caption
            display: inline-block
            // font-size: 1.8rem
            // color: $text
            width: min-content
            text-align: right
            @include media ("<tablet")
                width: 100%
                text-align: center // here or on wrapper?
        &-arrow
            @include media ("<tablet")
                display: none