.documents
  @include container()

  &__wrapper
    margin-top: 60px

  &__item
    display: block
    width: 275px
    height: 126px
    background-image: url('../img/doc-border-line.svg')
    background-size: contain
    background-repeat: no-repeat

