.documents
  @include container--content()

  &__wrapper
    margin-top: 60px
    display: flex
    flex-flow: row wrap

  &__item
    position: relative
    display: block
    width: 275px
    height: 126px
    padding: 28px 43px 21px
    margin: 9px

  &__item-svg
    position: absolute
    top: 0
    left: 0
    stroke: url(#linear-grad)
    pointer-events: none

  &__item-title
    @include subtitle()
    @include resetmargin()

  &__item-link
    margin-top: 15px
