.faq
    @include container--content
    font-size: 1.8rem

    &__title-wrapper
        @include gbackground(100%)
        
    &__title
        box-shadow: 325px 0px 0px 0px $bg-color, 590px 0px 0px 0px $bg-color
        display: inline
        font-size: 7.2rem
        font-weight: 800
        color: $white
        
    &__questions

    &__accordion-item
        // .accordion-wrapper--active
        //     @include gbackground(100%)
        //     .accordion-title
        //         color: $white
        //     .accordion-btn
        //         background: transparent

        // This code goes here or down bellow??

    &__accordion-title-wrapper,
        display: flex
        justify-content: space-between
        border-bottom: 1px solid
        border-image-source: linear-gradient(90deg, $gradient-start 0%, $gradient-end 100%)
        border-image-slice: 1
        // cursor: pointer ??

        .accordion-title
            @include subtitle($font-size: 1.8rem)
            font-weight: 800
            padding: 13px

        .accordion-btn
            @include gbackground(100%)
            font-size: 1.6rem
            font-weight: normal
            color: $white
            padding: 13px
            display: flex
            width: 120px
            justify-content: space-between  

        .accordion-btn-action

        .accordion-arrow
            fill: $white
            // Do I need stroke: $white ?
            align-self: center
    
    .accordion-wrapper--active
            @include gbackground(100%)
            .accordion-title
                color: $white
            .accordion-btn
                background: transparent
                align-items: baseline
            .accordion-arrow
                align-self: baseline

    //This code goes here or up above??

    

            

    &__answer
        width: 726px
        line-height: 3.0rem

    &__q1
    &__q2
    &__q3
    &__q4
    &__q5

    &__answer

